sixthflow.txt
[{"id":"37016afd.b1a026","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"71c3cd84.2ff3f4","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"11bbcec9.838e01","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"95dc1707.c6a5b8","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"7d13e253.6c123c","type":"mqtt-broker","z":"","name":"192.168.0.5:1883","broker":"192.168.0.15","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"120","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e57a0a27.a5f668","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":61,"sy":61,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"cf07bdf6.e6309","type":"ui_tab","z":"","name":"Main","icon":"dashboard"},{"id":"28236688.bb0fca","type":"ui_group","z":"","name":"Bin Data","tab":"57edb422.ba872c","disp":true,"width":"6","collapse":false},{"id":"5ddb7fd8.4abfe","type":"sqlitedb","z":"","db":"sqlite/mysqlite","mode":"RWC"},{"id":"2b0a8d9a.b48c92","type":"sqlitedb","z":"","db":"/tmp/sqlite","mode":"RWC"},{"id":"f24c56bb.030e28","type":"sqlitedb","z":"","db":"C:\\\\sqlite\\pythonsqlite.db","mode":"RWC"},{"id":"339bb9be.8ffe76","type":"ui_group","z":"","name":"Database","tab":"cf07bdf6.e6309","order":2,"disp":true,"width":"10","collapse":false},{"id":"57edb422.ba872c","type":"ui_tab","z":"","name":"Bin","icon":"dashboard"},{"id":"bb676756.773e38","type":"ui_group","z":"","name":"Map","tab":"cf07bdf6.e6309","order":1,"disp":true,"width":"10","collapse":false},{"id":"b493f892.bc1038","type":"ui_group","z":"","name":"Current Data","tab":"57edb422.ba872c","disp":true,"width":"6","collapse":false},{"id":"4d5fef4f.cdc36","type":"ui_group","z":"","name":"Bin Database","tab":"57edb422.ba872c","disp":true,"width":"10","collapse":false},{"id":"1729ee7d.6eab92","type":"ui_group","z":"95dc1707.c6a5b8","name":"Default","tab":"bc34885c.1c12c8","disp":true,"width":"6"},{"id":"bc34885c.1c12c8","type":"ui_tab","z":"95dc1707.c6a5b8","name":"Home","icon":"dashboard"},{"id":"3a08fa16.264626","type":"mqtt in","z":"37016afd.b1a026","name":"","topic":"house/day","qos":"0","broker":"7d13e253.6c123c","x":200,"y":120,"wires":[["ad60bdf0.6feb3","748346f7.da8048"]]},{"id":"ad60bdf0.6feb3","type":"ui_text","z":"37016afd.b1a026","group":"28236688.bb0fca","order":2,"width":"2","height":"1","name":"","label":"day","format":"{{msg.payload}}","layout":"col-center","x":450,"y":120,"wires":[]},{"id":"fe51c184.f75d5","type":"mqtt in","z":"37016afd.b1a026","name":"","topic":"house/hour","qos":"0","broker":"7d13e253.6c123c","x":200,"y":240,"wires":[["56e1b1c5.0ea94","8f8378d2.b74ab8"]]},{"id":"56e1b1c5.0ea94","type":"ui_text","z":"37016afd.b1a026","group":"28236688.bb0fca","order":3,"width":"2","height":"1","name":"","label":"hour","format":"{{msg.payload}}","layout":"col-center","x":450,"y":240,"wires":[]},{"id":"fb712e41.a6d4a","type":"mqtt in","z":"37016afd.b1a026","name":"","topic":"house/week","qos":"0","broker":"7d13e253.6c123c","x":210,"y":40,"wires":[["5ebc2057.f7b8b","7447b8d0.cbd218"]]},{"id":"5ebc2057.f7b8b","type":"ui_text","z":"37016afd.b1a026","group":"28236688.bb0fca","order":1,"width":"2","height":"1","name":"","label":"week","format":"{{msg.payload}}","layout":"col-center","x":450,"y":40,"wires":[]},{"id":"870576aa.0371c8","type":"ui_text_input","z":"11bbcec9.838e01","name":"bin","label":"bin name","group":"28236688.bb0fca","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"bin","x":150,"y":220,"wires":[["90928a9d.2d86d8","4f73c85f.2b71e8","e054969c.3aac88","1d63d67a.3ee70a","4f91ac9e.4298d4","f4f3f579.9e48f8"]],"outputLabels":["msg.payload"]},{"id":"90928a9d.2d86d8","type":"function","z":"11bbcec9.838e01","name":"","func":"global.set(\"binfill\", msg.payload+\"/fillpercentage\");\n","outputs":1,"noerr":0,"x":350,"y":300,"wires":[["af715057.95e96"]]},{"id":"97429a19.7931b8","type":"mqtt in","z":"11bbcec9.838e01","name":"","topic":"house/+/fillpercentage","qos":"0","broker":"7d13e253.6c123c","x":360,"y":360,"wires":[["af715057.95e96"]]},{"id":"82ebcfa5.bfb42","type":"ui_gauge","z":"11bbcec9.838e01","name":"","group":"28236688.bb0fca","order":7,"width":"6","height":"3","gtype":"gage","title":"Fill Level","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"34","seg2":"68","x":820,"y":300,"wires":[],"inputLabels":["msg.payload"]},{"id":"af715057.95e96","type":"switch","z":"11bbcec9.838e01","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"binfill","vt":"global"}],"checkall":"false","repair":false,"outputs":1,"x":590,"y":320,"wires":[["82ebcfa5.bfb42","c2d6429.b928ac"]],"outputLabels":["msg.payload"]},{"id":"ace0ce8e.571f3","type":"mqtt in","z":"11bbcec9.838e01","name":"","topic":"house/+/weight","qos":"0","broker":"7d13e253.6c123c","x":360,"y":540,"wires":[["c2ed2657.d19318"]]},{"id":"a0fe76c1.293998","type":"ui_gauge","z":"11bbcec9.838e01","name":"","group":"28236688.bb0fca","order":8,"width":"6","height":"3","gtype":"gage","title":"Weight","label":"units","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"13","seg2":"26","x":790,"y":460,"wires":[],"inputLabels":["msg.payload"]},{"id":"c2ed2657.d19318","type":"switch","z":"11bbcec9.838e01","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"binweight","vt":"global"}],"checkall":"false","repair":false,"outputs":1,"x":570,"y":500,"wires":[["a0fe76c1.293998","b0a2c55a.ff70e8"]],"outputLabels":["msg.payload"]},{"id":"c2d6429.b928ac","type":"ui_chart","z":"11bbcec9.838e01","name":"","group":"b493f892.bc1038","order":2,"width":0,"height":0,"label":"Fill Level","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":820,"y":360,"wires":[[],[]]},{"id":"b0a2c55a.ff70e8","type":"ui_chart","z":"11bbcec9.838e01","name":"","group":"b493f892.bc1038","order":3,"width":0,"height":0,"label":"Weight","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":790,"y":560,"wires":[[],[]]},{"id":"4f73c85f.2b71e8","type":"function","z":"11bbcec9.838e01","name":"","func":"if (msg.payload){\n  var newMsg = {\n \"topic\": \"SELECT * FROM records WHERE bin='\" + msg.payload + \"'\" \n  }\n  return newMsg;\n}\n\n","outputs":1,"noerr":0,"x":350,"y":180,"wires":[["c1efa7b7.8a9828"]]},{"id":"c1efa7b7.8a9828","type":"sqlite","z":"11bbcec9.838e01","mydb":"f24c56bb.030e28","sqlquery":"msg.topic","sql":"","name":"","x":670,"y":180,"wires":[["8781e184.2474a"]]},{"id":"8781e184.2474a","type":"ui_template","z":"11bbcec9.838e01","group":"4d5fef4f.cdc36","name":"","order":0,"width":"9","height":"12","format":"<table style=\"width:100%\">\n  <tr>\n    <th>week</th>\n    <th>day</th>\n    <th>hour</th> \n    <th>bin</th>\n    <th>height</th> \n    <th>weight</th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload\">\n    <td>{{msg.payload[$index].week}}</td>\n    <td>{{msg.payload[$index].day}}</td>\n    <td>{{msg.payload[$index].hour}}</td> \n    <td>{{msg.payload[$index].bin}}</td>\n    <td>{{msg.payload[$index].height}}</td>\n    <td>{{msg.payload[$index].weight}}</td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":880,"y":180,"wires":[[]]},{"id":"1e5befdd.0243","type":"mqtt in","z":"11bbcec9.838e01","name":"","topic":"house/+/alert","qos":"0","broker":"7d13e253.6c123c","x":330,"y":680,"wires":[["c88b998.fecec68"]]},{"id":"4962b109.7fc0d","type":"ui_text","z":"11bbcec9.838e01","group":"b493f892.bc1038","order":1,"width":"6","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":640,"wires":[]},{"id":"c88b998.fecec68","type":"switch","z":"11bbcec9.838e01","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"binalert","vt":"global"}],"checkall":"false","repair":false,"outputs":1,"x":510,"y":640,"wires":[["4962b109.7fc0d"]],"outputLabels":["msg.payload"]},{"id":"e054969c.3aac88","type":"function","z":"11bbcec9.838e01","name":"","func":"//if (msg.payload){\n  //var newMsg = {\n //\"topic\": \"SELECT * FROM records WHERE bin=\"+ msg.payload \n // }\n  //return newMsg;\n//}\n//else{\n // var newMsg = {\n //\"topic\": \"SELECT * FROM records \" \n  //}\n  //return newMsg;   \n//}\n\n//var newMsg = {\n //\"topic\": msg.topic,\n //\"payload\":msg.payload\n  //}\n  //return newMsg;\nglobal.set(\"binweight\", msg.payload+\"/weight\");\n","outputs":1,"noerr":0,"x":350,"y":460,"wires":[["c2ed2657.d19318"]]},{"id":"1d63d67a.3ee70a","type":"function","z":"11bbcec9.838e01","name":"","func":"//if (msg.payload){\n  //var newMsg = {\n //\"topic\": \"SELECT * FROM records WHERE bin=\"+ msg.payload \n // }\n  //return newMsg;\n//}\n//else{\n // var newMsg = {\n //\"topic\": \"SELECT * FROM records \" \n  //}\n  //return newMsg;   \n//}\n\n//var newMsg = {\n //\"topic\": msg.topic,\n //\"payload\":msg.payload\n  //}\n  //return newMsg;\nglobal.set(\"binalert\", msg.payload+\"/alert\");\n","outputs":1,"noerr":0,"x":330,"y":640,"wires":[["c88b998.fecec68"]]},{"id":"4c13d7b4.b62248","type":"mqtt in","z":"95dc1707.c6a5b8","name":"","topic":"house/+/position_lon","qos":"2","broker":"7d13e253.6c123c","x":150,"y":260,"wires":[["5004d09d.8702d"]]},{"id":"ba712591.277988","type":"mqtt in","z":"95dc1707.c6a5b8","name":"","topic":"house/+/position_lat","qos":"2","broker":"7d13e253.6c123c","x":150,"y":320,"wires":[["476eaeed.0dd72"]]},{"id":"8568e94e.8efe88","type":"inject","z":"95dc1707.c6a5b8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":330,"y":500,"wires":[["68b52613.f10cd8"]]},{"id":"4b52527.d1cebac","type":"ui_template","z":"95dc1707.c6a5b8","group":"bb676756.773e38","name":"","order":1,"width":"10","height":"10","format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":700,"y":500,"wires":[[]]},{"id":"68b52613.f10cd8","type":"template","z":"95dc1707.c6a5b8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src=\"/worldmap\" height=700px width=700px ></iframe>","x":500,"y":500,"wires":[["4b52527.d1cebac"]]},{"id":"476eaeed.0dd72","type":"change","z":"95dc1707.c6a5b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"'\"lat\"'&\":\"& msg.payload  &\", \"& '\"icon\"'&\":\"& '\"fa-trash\"'&\"}]\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":320,"wires":[["a33f0b93.52def8"]]},{"id":"5004d09d.8702d","type":"change","z":"95dc1707.c6a5b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"'\"lon\"'&\":\"& msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":260,"wires":[["a33f0b93.52def8"]]},{"id":"6edaa5d1.f9cdbc","type":"change","z":"95dc1707.c6a5b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"[{\"&'\"name\"'&\":\"& '\"' & msg.payload & '\"'\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":180,"wires":[["a33f0b93.52def8"]]},{"id":"a947ca5b.f54b38","type":"mqtt in","z":"95dc1707.c6a5b8","name":"","topic":"house/+/bin_name","qos":"2","broker":"7d13e253.6c123c","x":150,"y":180,"wires":[["6edaa5d1.f9cdbc"]]},{"id":"a33f0b93.52def8","type":"join","z":"95dc1707.c6a5b8","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":", ","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":590,"y":240,"wires":[["4154361.61d16c8"]]},{"id":"31267eab.d4ec12","type":"worldmap","z":"95dc1707.c6a5b8","name":"","lat":"45.479144","lon":"9.226725","zoom":"","layer":"OSM","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","x":890,"y":200,"wires":[]},{"id":"4154361.61d16c8","type":"function","z":"95dc1707.c6a5b8","name":"","func":"var obj = JSON.parse(msg.payload)\nmsg.payload=obj\nreturn msg","outputs":1,"noerr":0,"x":740,"y":260,"wires":[["31267eab.d4ec12"]]},{"id":"3116a609.898aea","type":"mqtt in","z":"95dc1707.c6a5b8","name":"","topic":"house/+/fillpercentage","qos":"0","broker":"7d13e253.6c123c","x":120,"y":420,"wires":[["511fc49a.b25dec"]]},{"id":"511fc49a.b25dec","type":"function","z":"95dc1707.c6a5b8","name":"","func":"if (msg.payload<=50){\n    var newMsg={\"payload\": \"green\" }\n}\nelse if (msg.payload<=85 && msg.payload>50){\n    var newMsg={\"payload\": \"yellow\" }\n}\nelse{\n    var newMsg={\"payload\": \"red\"}\n}\nreturn newMsg","outputs":1,"noerr":0,"x":330,"y":420,"wires":[["a9fd5c9c.7adc5"]]},{"id":"a9fd5c9c.7adc5","type":"change","z":"95dc1707.c6a5b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"'\"iconColor\"'&\":\"&'\"'& msg.payload & '\"' ","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":420,"wires":[["a33f0b93.52def8"]]},{"id":"51f70079.3014b","type":"debug","z":"37016afd.b1a026","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":440,"wires":[]},{"id":"c3ef1aaf.7ca1b8","type":"sqlite","z":"37016afd.b1a026","mydb":"f24c56bb.030e28","sqlquery":"msg.topic","sql":"","name":"","x":570,"y":360,"wires":[["76f19dbf.382994"]]},{"id":"663fa3f2.272cec","type":"function","z":"37016afd.b1a026","name":"","func":"if (msg.payload===true){\n  //var newMsg = {\n //\"topic\": \"SELECT * FROM records WHERE bin=\"+ msg.payload \n  //}\n  //return newMsg;\n//}\n//else{\n  var newMsg = {\n \"topic\": \"SELECT * FROM records \" \n  }\n  return newMsg;   \n}\n","outputs":1,"noerr":0,"x":350,"y":360,"wires":[["c3ef1aaf.7ca1b8","51f70079.3014b"]]},{"id":"76f19dbf.382994","type":"ui_template","z":"37016afd.b1a026","group":"339bb9be.8ffe76","name":"","order":5,"width":"10","height":"10","format":"<table style=\"width:100%\">\n  <tr>\n    <th>week</th>\n    <th>day</th>\n    <th>hour</th> \n    <th>bin</th>\n    <th>height</th> \n    <th>weight</th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload\">\n    <td>{{msg.payload[$index].week}}</td>\n    <td>{{msg.payload[$index].day}}</td>\n    <td>{{msg.payload[$index].hour}}</td> \n    <td>{{msg.payload[$index].bin}}</td>\n    <td>{{msg.payload[$index].height}}</td>\n    <td>{{msg.payload[$index].weight}}</td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":800,"y":360,"wires":[[]]},{"id":"faf77610.af2628","type":"ui_button","z":"37016afd.b1a026","name":"","group":"339bb9be.8ffe76","order":4,"width":0,"height":0,"passthru":false,"label":"Update DB","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":190,"y":360,"wires":[["663fa3f2.272cec"]]},{"id":"879a15b.8605ce8","type":"mqtt in","z":"11bbcec9.838e01","name":"","topic":"house/+/position_lon","qos":"0","broker":"7d13e253.6c123c","x":310,"y":780,"wires":[["3cb9c7a9.825528"]]},{"id":"21e010ef.e421","type":"ui_text","z":"11bbcec9.838e01","group":"28236688.bb0fca","order":5,"width":"3","height":"1","name":"","label":"Lon:","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":740,"wires":[]},{"id":"3cb9c7a9.825528","type":"switch","z":"11bbcec9.838e01","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"binlon","vt":"global"}],"checkall":"false","repair":false,"outputs":1,"x":510,"y":740,"wires":[["21e010ef.e421"]],"outputLabels":["msg.payload"]},{"id":"4f91ac9e.4298d4","type":"function","z":"11bbcec9.838e01","name":"","func":"//if (msg.payload){\n  //var newMsg = {\n //\"topic\": \"SELECT * FROM records WHERE bin=\"+ msg.payload \n // }\n  //return newMsg;\n//}\n//else{\n // var newMsg = {\n //\"topic\": \"SELECT * FROM records \" \n  //}\n  //return newMsg;   \n//}\n\n//var newMsg = {\n //\"topic\": msg.topic,\n //\"payload\":msg.payload\n  //}\n  //return newMsg;\nglobal.set(\"binlon\", msg.payload+\"/position_lon\");\n","outputs":1,"noerr":0,"x":250,"y":740,"wires":[["3cb9c7a9.825528"]]},{"id":"c269c2b.6bf2d4","type":"mqtt in","z":"11bbcec9.838e01","name":"","topic":"house/+/position_lat","qos":"0","broker":"7d13e253.6c123c","x":310,"y":880,"wires":[["f8afd58e.2e5428"]]},{"id":"3d437af0.68ebe6","type":"ui_text","z":"11bbcec9.838e01","group":"28236688.bb0fca","order":6,"width":"3","height":"1","name":"","label":"Lat:","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":820,"wires":[]},{"id":"f8afd58e.2e5428","type":"switch","z":"11bbcec9.838e01","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"binlat","vt":"global"}],"checkall":"false","repair":false,"outputs":1,"x":510,"y":820,"wires":[["3d437af0.68ebe6","b5933e61.3b93b"]],"outputLabels":["msg.payload"]},{"id":"f4f3f579.9e48f8","type":"function","z":"11bbcec9.838e01","name":"","func":"//if (msg.payload){\n  //var newMsg = {\n //\"topic\": \"SELECT * FROM records WHERE bin=\"+ msg.payload \n // }\n  //return newMsg;\n//}\n//else{\n // var newMsg = {\n //\"topic\": \"SELECT * FROM records \" \n  //}\n  //return newMsg;   \n//}\n\n//var newMsg = {\n //\"topic\": msg.topic,\n //\"payload\":msg.payload\n  //}\n  //return newMsg;\nglobal.set(\"binlat\", msg.payload+\"/position_lat\");\n","outputs":1,"noerr":0,"x":230,"y":820,"wires":[["f8afd58e.2e5428"]]},{"id":"b5933e61.3b93b","type":"debug","z":"11bbcec9.838e01","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680,"y":920,"wires":[]},{"id":"748346f7.da8048","type":"ui_text","z":"37016afd.b1a026","group":"339bb9be.8ffe76","order":2,"width":"4","height":"1","name":"","label":"day","format":"{{msg.payload}}","layout":"col-center","x":450,"y":180,"wires":[]},{"id":"8f8378d2.b74ab8","type":"ui_text","z":"37016afd.b1a026","group":"339bb9be.8ffe76","order":3,"width":"3","height":"1","name":"","label":"hour","format":"{{msg.payload}}","layout":"col-center","x":450,"y":300,"wires":[]},{"id":"7447b8d0.cbd218","type":"ui_text","z":"37016afd.b1a026","group":"339bb9be.8ffe76","order":1,"width":"3","height":"1","name":"","label":"week","format":"{{msg.payload}}","layout":"col-center","x":450,"y":80,"wires":[]}]